Package: com.minazuki.pdmenubc
Name: PDMenuBC
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Change the background color of the power down menu.
Depiction: https://minazukidev.github.io/html/PDMenuBC/index.html
Maintainer: Minazuki <minazukidev@gmail.com>
Author: Minazuki <minazukidev@gmail.com>
Section: Tweaks
